html, body
	padding: 0
	margin: 0
	height: 100%
	overflow: hidden

	background-color: #334
	color: #FFF

	font-family: Verdana, Arial, sans-serif
	font-size: 16px
	line-height: 18px
	box-sizing: border-box

*
	font-family: inherit
	font-size: inherit
	box-sizing: inherit
	color: inherit



.clearfix
	clear: both


a
	color: #F28
	text-decoration: underline
	cursor: pointer